<?xml version="1.0" encoding="utf-8" ?>
<configuration>

	<connectionStrings>
		<add name="DefaultConnection"
             connectionString="Data Source =DESKTOP-VU5MN9L; Initial Catalog =master;Integrated Security=SSPI"
             providerName="System.Data.SqlClient" />
		<add name="CustomConnection"
             connectionString="Data Source =DESKTOP-VU5MN9L; Initial Catalog =master;Integrated Security=SSPI"
             providerName="System.Data.SqlClient" />
	</connectionStrings>
	
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
		
												
	</startup>
</configuration>